body{
  background-color: #7F669D;
}
.container{
  display:flex;
  justify-content: center;
  flex-direction: row;
}
textarea{
  border:1px solid black;
  height:17vh;
  width:80%;
  margin:1rem 2rem 1rem 1rem;
  padding:1rem 2rem 2rem 2rem;
  background-color: #D989B5;
}
#output{
    border:1px solid black;
    height:17vh;
    width:80%;
    margin:1rem 2rem 1rem 1rem;
    padding:1rem 2rem 2rem 2rem;
    background-color: #DEBACE;
   
}
.button{
  color: white;
  width:20%;
  padding-top: 20px;
  align-self: center;
  height: 3rem;
  border-radius: 1rem;
 
  /*align-items: center;*/
}
.button {
  
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #BA94D1;
  background-color: #82bccf;
  border: none;
  border-radius: 1rem;
  
}

.button:hover {background-color: #ac6cca}

.button:active {
  background-color:#8856c9;
  transform: translateY(4px);
}